@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('woff');

  }

html, body {
    height: 100%; 
    margin: 0; 
}

body {
    font-family: 'Roboto';
}

#root {
    height: 100%; 
}
